<form>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input required ngModel name="firstName" #firstName="ngModel"  (change)="log(firstName)" id="firstName" type="text" class="form-control">
        <!-- Adding "required" to the field to add the validation as a required field -->
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is required</div>
        <!-- Using Bootstrap class "alert alert-danger" for validation div to appear in red. And using ngIf directive and input field's name
        "firstName" to check for the conditions, if the field was touched and not valid -->
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngModel name="comment" id="comment" cols="30" rows="10" for="comment" class="form-control"></textarea>
        <!-- Using ngModel here too, to create an instance of a form control class and associate with this input field -->
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
