<form>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input required ngModel minlength="3" maxlength="10" pattern="banana" name="firstName" #firstName="ngModel"  (change)="log(firstName)" id="firstName" type="text" class="form-control">
        <!-- Using html 5 validations like "minlength", "maxlength" and "pattern" -->
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
            <!-- Using different validation messages for different validations -->
            <div *ngIf="firstName.errors.required">First name is required.</div> <!-- Message for Required Validation -->
            <div *ngIf="firstName.errors.minlength">First name should be of minimum {{ firstName.errors.minlength.requiredLength }} characters</div>
            <!-- Message for minimum length validation and using required length number dynamically by "requiredLength" -->
            <div *ngIf="firstName.errors.pattern">First name doesn't match the pattern</div>
            <!-- Message for pattern validation -->
        </div>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngModel name="comment" id="comment" cols="30" rows="10" for="comment" class="form-control"></textarea>
        <!-- Using ngModel here too, to create an instance of a form control class and associate with this input field -->
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
