<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<button class="btn btn-primary" (click)="onAdd()">Add</button>
<!-- Added a button to call a method "onAdd()" to add a new object -->

<ul>
    <li *ngFor="let course of courses"> 
        {{ course.name }}
        <button class="btn btn-danger" (click)="onRemove(course)">Remove</button>
        <!-- Adding a Remove button to call a method "onRemove(course)" to pass the course object, so that it can be spliced or removed -->
    </li>
</ul>