<form>
    <input type="text" class="form-control" 
         (keyup.enter)="addTopic(topic)" #topic>
     <!-- Adding a keyup event with the filter for "enter" and calling a method "addTopic()" to pass the template variable "topic" -->
    <ul class="list-group">
        <li *ngFor="let topic of topics.controls" (click)="removeTopic(topic)" class="list-group-item">
            <!-- List all the values entered into the input field and 
                 using (click) event to call the method "removeTopic()" and passing the property -->
            {{ topic.value }}
            <!-- Listing all the property values using interpolation -->
        </li>
    </ul>
 </form>